@charset "utf-8";
/* CSS Document */
/*
	Mudar cores/sobreescrever cores das classes e elementos neste  arquivo css,
	para não afetar a estrutura do html.
 	Customizar cores dos elementos do bootstrap aqui, para manter a organização.
*/
body{
	background-color:#e6e6e6;
}

.paper{
	border-color:#e9e7e8;
}

.legenda_imagem{
	color:inherit
}
.borda-abaixo{
	border-color:#efefef;
}

.cor-padrao-curso-texto{
	color:#50D7E2;
}
.cor-padrao-curso-fundo{
	background-color:#2d2d2d;
	color:#fff;
	padding:30px;
}
.pagination>li>a{
		color: #50D7E2 !important;
		border-color: #50D7E2;
}
.pagination>li>a:active{
	color: white !important;
	border-color: #50D7E2 !important;
	background-color: #50D7E2 !important;
}
.pagination>li>a:hover{
		color: #50D7E2 !important;
		border-color: #50D7E2;
		
}
.pagination>.disabled>a:hover{
		color: #BDC3C7 !important;
		border-color: #f4f4f4;
		background-color: #E0E6F0 !important;
}
.pagination>.disabled>a{
		color: #BDC3C7 !important;
		border-color: #f4f4f4;
}
.pagination>.active>a{
	background-color: #50D7E2 !important;
	border-color: #50D7E2;
	color:#fff !important;
}
.pagination>.active>a:hover{
	color:#fff !important;
	border-color: #50D7E2 !important;
}
.panel-heading{
	background-color: #f4f4f4 !important;
	color: #50D7E2 !important;
}

img.arredondar{
	border-color:#f5f5f5;
}

h1,h2,h3,h4,h5,h6{
	color:#50D7E2;
}

table.senac {
	border-color:#E8E8E8;
}
table.senac th{
	background-color:#28AFB2;
	color:#fff;
	border-color:#dedede;
}
table.senac td{
	background-color:#fefefe;
	color:#333;
	border-color:#dedede;
}
header.senac{
	background-color:#50D7E2;
}
.video-player{
	border-color:#000000;
}

#sombra{
	background-color:e9e7e8;
}


#nome-curso{
    color: #fff;
}
.fundo-tecnicos{
	background-color:#fff;
	border-bottom:3px solid #ccc;
}

.caixa-destaque, .caixa-destaque-livre{
	background-color:#ECF0F1;
}


a {
    color: #28AFB2 !important;   
}


.caixa-ta-na-midia{
	color: #fff;
	background-color: #28AFB2;
}
.icone-transcricao > a{
	background-color:#d8a32e;
	color:#fff;
}
.icone-transcricao > a:hover{
	background-color: #31405D;
	color:#fff;
}
/*
botões
*/
a.botao-transcricao{
	background-color:#ECF0F1;
	color:#2d2d2d;
	font-weight: bold;
	border-bottom:solid 2px #50D7E2;
}
a.botao-transcricao:hover{
	background-color: #50D7E2;
	color:#fff;
	
}

.botao{
	background-color:	#ECF0F1;
	color:#2d2d2d;
	border-bottom:solid 2px #50D7E2;
	font-weight:600;
	
}
.botao:hover{
	text-decoration:none;
	background-color:#50D7E2;
	border-bottom:solid 2px #50D7E2;
	color:white;
}

.botao_paginacao{
	background-color:#ECF0F1;
	color:#2d2d2d;
	border-bottom:solid 2px #50D7E2;
	font-weight:600;
}
.botao_paginacao:hover{
	text-decoration:none;
	background-color:#50D7E2;
	border-bottom:solid 2px #50D7E2;
	color:white; 
}
.botao_paginacao:active, .botao_paginacao:focus{
	text-decoration:none;
	background-color:#50D7E2 !important;
	border-bottom:solid 2px #50D7E2;
	color:#2d2d2d !important;
	}
a.botao-pdf{
	background-color:#f4f4f4;
	border-bottom:solid 2px #007798;
	font-weight:600;
	color:#2d2d2d !important;

}
a.botao-pdf:hover{
	font-weight: 600;
	color: #2d2d2d;
	background-color: #007798;
}
.botao_paginacao.avancar, .botao_paginacao.voltar{	
	background-color:inherit;
	}
.botao_paginacao.avancar:hover, .botao_paginacao.voltar:hover{	
	background-color:inherit;
	}
.botao_paginacao.avancar:active, .botao_paginacao.voltar:focus{
	background-color:inherit !important;
	}
.botao_paginacao.avancar:focus, .botao_paginacao.voltar:active{
background-color:inherit !important;
}
a.botao-avancar{
	background-color:#007798;
	border-bottom:solid 2px #c7c7c7;
	font-weight:600;
	color:#FFFFFF!important;
}
a.botao-avancar:hover{
	font-weight: 600;
	color: #FFFFFF !important;
	background-color:#d8a32e;
}
a.botao-voltar{
	background-color:#007798;
	border-bottom:solid 2px #c7c7c7;
	font-weight:600;
	color:#FFFFFF !important;
}
a.botao-voltar:hover{
	font-weight: 600;
	color: #FFFFFF !important;
	background-color:#d8a32e;
}
a.botao-subir{
	background-color:#007798;
	border-bottom:solid 2px #c7c7c7;
	font-weight:600;
	color:#FFFFFF !important;
}
a.botao-subir:hover{
	font-weight: 600;
	color: #FFFFFF !important;
	background-color:#d8a32e;
}
.anim-troca-cor:hover{
	background-color:#f4f4f4;

}


/* coloca um dos icones ao lado de um titulo */

.botao_paginacao.ativo{
	text-decoration:none;
	background-color:#007798!important;
	border-bottom:solid 2px #c7c7c7;
	color:#ffffff !important;
	}
.bg-topo-print {
    background-color: #50D7E2
}
.bg-topo-print .btn.btn-primary {
	background-color: #50D7E2;
	border: 1px solid #50D7E2;
}
.bg-topo-print .btn.btn-primary:hover, .bg-topo-print .btn.btn-primary:visited, .bg-topo-print .btn.btn-primary:active, .bg-topo-print .btn.btn-primary.active, .bg-topo-print .btn.btn-primary:focus   {
	background-color:#28AFB2;
}
/* IMPRESSÃO: cores do botão imprimir. Personalizar de acordo com as cores do tema */
.grupo-imprimir button.bto-imprimir {
  background: #50D7E2;
  color: #fff;
}
.grupo-imprimir button.bto-imprimir:hover {
  background-color: #28AFB2;
  color: #fff;
}
.grupo-imprimir button.bto-ajuda  {
	background-color: #50D7E2;
  color: #fff;
}
.grupo-imprimir button.bto-ajuda:hover {
  background-color: #28AFB2;
  color: #FFF;
}
.grupo-imprimir button.bto-ajuda:hover span.fa.fa-question {
  color: #215D89;
}
.grupo-imprimir button.bto-ajuda span.fa.fa-question {
	color: #215D89;
}

.btn-print {
    color: #2D2D2D;
    background-color: #fff;
    border-color: #1b717a;
}

.nav-tabs>li>a:hover{
	background-color: white;
	border-color: #7EA5C9;
	background-color: 	#E0E6F0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #7EA5C9;
    cursor: default;
    background-color: white;
    border: 1px solid #7EA5C9;
    border-bottom-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid #7EA5C9;
}