
/*no css icones_default estão declarados os icones padrão*/
@import url("icones_default.css");
/*no css icones_auxiliares estao icones extras para serem utilizado junto de elementos*/
@import url("icones_apoio.css");

/*Modais 100%*/
@import url("modal-100.css");

/*Accordions customizados*/
@import url("custom-accordion.css");

.botao{
    cursor: pointer;
}


/*o futuro do uso de icones, uma classe icone, que adicionada ao elemento prepara ele pra usar icone*/
.icone{
    background-repeat: no-repeat;
}
div.icone:not(.caixa-destaque, .botao, .btn){
    padding: 1.7rem;
    padding-left: 100px;
    background-position: 10px center;
    background-size: 80px;
}
div.icone.topo:not(.caixa-destaque, .botao, .btn){
    padding: 1.7rem;
    padding-top: 100px;
    background-position: center 10px;
    background-size: 80px;
}
div.icone.direita:not(.caixa-destaque, .botao, .btn){
    padding: 1.7rem;
    padding-right: 100px;
    background-position: 98.5% center;
    background-size: 80px;
}


.caixa-destaque.icone{
    padding-left: 100px;
    background-position: 10px center;
    background-size: 80px;
}

h1.icone, h2.icone, h3.icone, h4.icone, h5.icone, h6.icone{
    background-position: left center;
    background-size: 40px;   
}


h1.icone{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-left: 50px;
    padding-top: 2px;
    padding-bottom: 2px; 
 
}
h2.icone{
    padding-left: 50px;    
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

}
h3.icone{
    padding-left: 50px;    
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
h4.icone{   
    padding-left: 50px;    
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: -0.2rem;
    margin-bottom: 1.5rem;
}
h5.icone{   
    padding-left: 50px;    
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: -0.6rem;
    margin-bottom: 1.5rem;
}
h6.icone{   
    padding-left: 50px;    
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: -0.6rem;
    margin-bottom: 1.5rem;
}

p.icone{
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px; 
    background-size: 80px;
    background-position:left center;
}
p.icone.pequeno{
    background-size: 40px;
    padding-left: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
}

button.icone, .botao.icone, .btn.icone ,a.icone{
    padding-left: 60px;   
    background-size: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-position: 10px center;
    text-align: left;
}
button.botao{
    border-left: 0;
    border-top: 0;
    border-right: 0;
}
/*cores nos botoes*/
/* cores primarias */

.botao.bg-primaria-01:hover{
   background-color:#50D7E2 !important;
   color: white;
}
.botao.bg-primaria-02:hover{
   background-color:#14DD78  !important;
   color: white;
}
.botao.bg-primaria-03:hover{
   background-color:#EACA42  !important;
   color: white;
}
/* cores secundárias */
.botao.bg-secundaria-01:hover{
    background-color:#28AFB2  !important;
    color: white;
}
.botao.bg-secundaria-02:hover{
    background-color:#06B75A  !important;
    color: white  !important;
}
.botao.bg-secundaria-03:hover{
    background-color:#E5AB28  !important;
    color: #0c0c0c;
}

/* cores cinzas */
.botao.bg-cinzas-01:hover{
    background-color:#597994  !important;
    color: white;
}
.botao.bg-cinzas-02:hover{
    background-color:#D3D5D5  !important;
    color: white;
}
.botao.bg-cinzas-03:hover{
    background-color:#20304F  !important;
    color: white;
}

.bg-primaria-01{
    background-color: #50D7E2 !important;
}
.bg-primaria-02{
    background-color: #14DD78 !important;
}
.bg-primaria-03{
    background-color: #EACA42 !important;
}

.bg-secundaria-01{
    background-color: #28AFB2 !important;
}
.bg-secundaria-02{
    background-color: #06B75A !important;
}
.bg-secundaria-03{
    background-color: #E5AB28 !important;
}

.bg-cinzas-01{
    background-color: #ECF0F1 !important;
}
.bg-cinzas-02{
    background-color: #BDC3C7 !important;
}
.bg-cinzas-03{
    background-color: #2D2D2D !important;
}


.texto-primaria-01{
    color: #50D7E2 !important;
}
.texto-primaria-02{
    color: #14DD78 !important;
}
.texto-primaria-03{
    color: #EACA42 !important;
}

.texto-secundaria-01{
    color: #28AFB2 !important;
}
.texto-secundaria-02{
    color: #06B75A !important;
}
.texto-secundaria-03{
    color: #E5AB28 !important;
}

.texto-cinzas-01{
    color: #ECF0F1 !important;
}
.texto-cinzas-02{
    color: #BDC3C7 !important;
}
.texto-cinzas-03{
    color: #2D2D2D !important;
}
*[class*="borda-"]{
    border: 2px solid !important;
}

.borda-primaria-01{
    border-color: #50D7E2 !important;
}
.borda-primaria-02{
    border-color: #14DD78 !important;
}
.borda-primaria-03{
    border-color: #EACA42 !important;
}

.borda-secundaria-01{
    border-color: #28AFB2 !important;
}
.borda-secundaria-02{
    border-color: #06B75A !important;
}
.borda-secundaria-03{
    border-color: #E5AB28 !important;
}

.borda-cinzas-01{
    border-color: #ECF0F1 !important;
}
.borda-cinzas-02{
    border-color: #BDC3C7 !important;
}
.borda-cinzas-03{
    border-color: #2D2D2D !important;
}

ul.cor01 li{
    list-style-image:url(../images/marcador_01.png) !important;
}
ul.cor02 li{
    list-style-image:url(../images/marcador_02.png) !important;
}
ul.cor03 li{
    list-style-image:url(../images/marcador_03.png) !important;
}

ul.cor-branca li{
    list-style-image:url(../images/marcador_branco.png) !important;
}
ul.cor-preta li{
    list-style-image:url(../images/marcador_preto.png) !important;
}


a.padrao{
    font-weight: bold;
    color: #008DA2;
}
a.padrao:hover{
    font-weight: bold;
    color: #20304F;
}


.carousel.senac .carousel-control{
    background: transparent; 
    opacity: 1;
    padding-top: 1px;
}
.carousel.senac .carousel-control:hover{
    opacity: .65;
}
.carousel.senac .carousel-control img{
    top: Calc(50% - 30px);
    display: block;
    position: absolute;    
}

.carousel.senac .carousel-control.left img{
    left: 10px;
}
.carousel.senac .carousel-control.right img{
    right: 10px;
}

.carousel.senac .carousel-indicators{
    position: relative;
    margin-top: 10px;
    bottom: initial;
}
.carousel.senac  .carousel-indicators li{
    border-color: #50D7E2;
}
.carousel.senac  .carousel-indicators .active{
    background-color: #50D7E2;
}

@media screen and (max-width: 700px){
    .caixa-destaque.icone{
        padding-left: 2em;
        padding-top: 100px;
        background-position: center 10px;
    }    
}
