/*icones de apoio, adicionados os 20 primeiros, pois a sugestao do curso inclui muitos icones*/

.icone.apoio001{
    background-image: url(../images/icones-apoio/001-aim.png);
}
.icone.apoio002{
    background-image: url(../images/icones-apoio/002-alarm.png);
}
.icone.apoio002{
    background-image: url(../images/icones-apoio/003-analytics.png);
}
.icone.apoio003{
    background-image: url(../images/icones-apoio/003-analytics.png);
}
.icone.apoio004{
    background-image: url(../images/icones-apoio/004-analysis.png);
}
.icone.apoio005{
    background-image: url(../images/icones-apoio/005-files.png);
}
.icone.apoio006{
    background-image: url(../images/icones-apoio/006-coins.png);
}
.icone.apoio007{
    background-image: url(../images/icones-apoio/007-coins.png);
}
.icone.apoio008{
    background-image: url(../images/icones-apoio/008-payment.png);
}
.icone.apoio009{
    background-image: url(../images/icones-apoio/009-badge.png);
}
.icone.apoio010{
    background-image: url(../images/icones-apoio/010-balance.png);
}

.icone.apoio011{
    background-image: url(../images/icones-apoio/011-bank.png);
}
.icone.apoio012{
    background-image: url(../images/icones-apoio/012-basket.png);
}
.icone.apoio013{
    background-image: url(../images/icones-apoio/013-receipt.png);
}
.icone.apoio014{
    background-image: url(../images/icones-apoio/014-receipt.png);
}
.icone.apoio015{
    background-image: url(../images/icones-apoio/015-billboard.png);
}
.icone.apoio016{
    background-image: url(../images/icones-apoio/016-constitution.png);
}
.icone.apoio017{
    background-image: url(../images/icones-apoio/017-brainstorm.png);
}
.icone.apoio018{
    background-image: url(../images/icones-apoio/018-briefcase.png);
}
.icone.apoio019{
    background-image: url(../images/icones-apoio/019-briefcase.png);
}
.icone.apoio020{
    background-image: url(../images/icones-apoio/020-briefcase.png);
}



